<!-- HEADER -->
<header class="header">
    <img src="src/assets/images/danny2.jpg" alt="avatar">
    <h1>Danny Schreiber</h1>
    <p>Renaissance Man Extraordinaire</p>
    <!-- NAV MENU -->
    <ul class="vs-nav">
        <!-- InstanceBeginEditable name="Menu-Content" -->
	    <li><a href="" ui-sref="about">about me</a></li>
	    <li><a href="" ui-sref="portfolio">portfolio</a></li>
	    <li><a href="" ui-sref="contact">contact</a></li>
	    <li><a href="" ui-sref="blog">blog</a></li>
	    <li><a href="" ui-sref="resume">resume</a></li>
        <!-- InstanceEndEditable -->
    </ul>
    <!-- NAV MENU -->
</header>
<!-- HEADER -->